.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}


.Card{
    padding: 5px;
}

.button{
    border-color: none;
}

.button  :hover{
    background-color: black;
    
}
